.heroCarousel {
  width: 70vw;
  height: 80vh;
  /* width: 100vw;
  height: 80vh; */
}

.heroCarousel__image {
  height: 550px;
  width: 100%;
}

.heroCarousel--fadedBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

/* MOBILE RESPONSIVE DESIGN */

@media screen and (max-width: 767px) {
  .heroCarousel {
    height: 40vh;
    width: 100vw;
  }

  .heroCarousel__image {
    height: 300px;
  }
}
