.mainAnnounce__container {
  display: flex;
  padding: 4%;
  /* background: "#69839c"; */
  background: linear-gradient(to left, #bbd2c5, #536976);
  justify-content: center;
}

.left {
  flex: 0.5;
}

.right {
  flex: 0.5;
}

/** MOBILE RESPONSIVE **/
@media screen and (max-width: 767px) {
  .mainAnnounce__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    flex: unset;
    margin-bottom: 40px;
  }

  .right {
    margin-top: 30px;
    flex: unset;
    border-top: 1px solid lightgrey;
    /* width: 90%; */
  }
}
