.programContainer {
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10%;
  align-items: center;
  text-align: left; */

  width: 200px;
  /* height: 2px; */
  margin: 50px auto;
  text-align: left;
  /* height: 80vh; */
}

.programContainer > button {
  margin-top: 30px;
  padding: 5px 20px;
  border: 2px solid lightgrey;
  background: transparent;
  border-radius: 50px;
}
